.body {
    font-family: sans-serif;
    margin: 0;
    background-color: #191919
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

/*Navigatin menu*/

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 53px;
    padding: 10px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;   
    color: white;
    padding: 5px 500px 5px 20px;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: right;

}

.main-navigation__item {
    display: inline-block;
    padding: 10px;
    padding: 0 25px;
}

.navigation__title {
    color: white;
}
.main-header {
    background-color: #282828;
    display: flex;
    color: white;
}

.navigation__icons {
    display: inline-block;
}

.navigation__searching {
    padding: 5px 15px;
    color: white;
}

/*Navigatin menu finished*/

/*Main page section*/
.main-page {
    background-image: url(../images/Header.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    display:inline-block
}

.main-page__view {
    display: inline-block;
    padding: 100px
}

.main-page__title {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 75px;
    text-align: left;
    vertical-align: top;
    color: white;
    padding: 50px 180px 0px 180px;
}

.main-page__buttonBox {
    display: inline-block;
    margin: 0 350px;
    background-color: white;
    padding: 10px;
    display: flex;
    border-radius: 50px;
}

.main-page__button {
    margin: 10px 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #171718;
}
.icons {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 10px 10px;
    color: black;
}
/*Main page section finished*/

/*Productys section*/

.products-page__view {
    display: flex;
    width: 100%;
    padding: 50px 0px 50px 50px;
}

.products-page__text {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    vertical-align: top;
    color: white;
}

.products-page__image {
    width: 552px;
    height: 332px;
}

.products-page__text2 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    vertical-align: top;
    color: white;
    padding: 150px 50px 0px;
}

.products-page__text3 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    vertical-align: top;
    color: white;
    padding: 170px 10px 0px 30px;
}

.products-page__text4 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    vertical-align: top;
    color: white;
    padding: 170px 10px 0px 30px;
}

.products-page__image3 {
    padding: 80px 20px 20px 20px;
}

    /*Productys section finished*/

    /*Productys' exhibition section*/

.mobiles {
    display: inline-block;
    width: 255px;
    height: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 16px;
}

.mobile__types {
    font-style: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
}

.mobile__photos {
    vertical-align: center;
    display: inline-block;
    padding-left: 75px;   
}

.prices {
    font-style: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
}

.mobile__buttons {
    color: white;
    background-color: black;
    padding: 10px 30px;
    margin-left: 75px;
    border-radius: 16px;
    

}

    /*Productys' exhibition section finished*/ 

    /*Footer section*/
.footer {
    height: 230px;
    width: 100%;
    margin-top: 60px;
    background-color: #282828;
}

.footer__section {
    padding: 80px 0;
    display: flex;
}


.footer-main__brand {
    padding-top: 5px;

}
.footer-titles {
    display: inline-block;
    vertical-align: middle;   
    color: white;
    padding: 0px 0px 0px 160px;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    text-align: center;
    padding-left: 250px;
}


.footer-images {
    padding: 0px 50px;
    margin-left: 160px;

}
    /*Footer section finished*/